@layer base, theme, components;
@import "tailwind-config/dist/theme.css" layer(theme);

@import "tailwindcss";

@import "tailwind-config/dist/globals.css" layer(base);
@import "mono/css/globals.css" layer(components);

@source "../app";
@source "../components";
@source "../../../packages/mono/dist";

@custom-variant dark (&:where(.dark, .dark *));

body {
    @apply bg-background-secondary text-foreground;
}

.locked {
    @apply overflow-hidden;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.text-content {
    unicode-bidi: plaintext;
}

.no-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: transparent;
    display: none;
}

.no-scrollbar::-webkit-scrollbar-thumb {
    width: 0px;
    height: 0px;
    background-color: transparent;
    display: none;
}
