@layer base, theme, components;
@import "tailwind-config/dist/theme.css" layer(theme);

@import "tailwindcss";

@import "tailwind-config/dist/globals.css" layer(base);
@import "mono/css/globals.css" layer(components);

@source "../app";
@source "../components";
@source "../../../packages/mono/dist";

.locked {
  @apply overflow-hidden;
}

body {
  @apply bg-background-secondary text-foreground;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: transparent;
  display: none;
}

.no-scrollbar::-webkit-scrollbar-thumb {
  width: 0px;
  height: 0px;
  background-color: transparent;
  display: none;
}
