@import url("mono/globals.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --split-view-width: var(--sidebar-width);
}

@layer base {
  ::selection {
    @apply bg-foreground text-background;
  }
  ::-webkit-scrollbar-track {
    @apply w-4 bg-background;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-yz-neutral-200 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-yz-neutral-300;
  }
  ::-webkit-scrollbar {
    @apply w-3 bg-background;
  }
}

@layer components {
  .split-view {
    --split-view-width: calc(100dvw - var(--sidebar-width) / 2);
    width: var(--split-view-width);
  }
  .page-width-limit {
    --max-width: 1536px;
    @apply mx-auto px-6 w-full max-w-[--max-width];
  }
  .widgets-grid {
    --gap: 8px;
    /* --gap: 0px; */
    --cols: 22;
    --cell-size: calc(var(--max-width) / var(--cols) - var(--gap));
    grid-template-columns: repeat(var(--cols), minmax(0, var(--cell-size)));
    grid-auto-rows: minmax(0, calc(var(--cell-size)));
    justify-content: center;
    gap: var(--gap);
    @apply grid w-full;
  }
  .widget-wrapper {
    --column-start: 0;
    --column-end: 0;
    --column-span: calc(var(--column-end) - var(--column-start) + 1);
    --row-start: 0;
    --row-end: 0;
    --row-span: calc(var(--row-end) - var(--row-start) + 1);
    grid-column: span var(--column-span) / span var(--column-span);
    grid-row: span var(--row-span) / span var(--row-span);
    @apply w-full h-full;
  }
  .clock-widget {
    @apply flex items-center justify-center;

    & > span {
      @apply text-6xl font-bold;
    }
  }
}

.light-mode-image {
  display: block;
}

.dark-mode-image {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .light-mode-image {
    display: none;
  }

  .dark-mode-image {
    display: block;
  }
}
