@import url("mono/globals.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --split-view-width: var(--sidebar-width);
}

@layer base {
  ::selection {
    @apply bg-foreground text-background;
  }
  ::-webkit-scrollbar-track {
    @apply w-4 bg-background;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-yz-neutral-200 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-yz-neutral-300;
  }
  ::-webkit-scrollbar {
    @apply w-3 bg-background;
  }
}

@layer components {
  .split-view {
    --split-view-width: calc(100dvw - var(--sidebar-width) / 2);
    width: var(--split-view-width);
  }
  .page-width-limit {
    --max-width: 1536px;
    @apply mx-auto px-6 w-full max-w-[--max-width];
  }

  .widgets-grid {
    --gap: 8px;
    --cols: 22;
    --rows: 2;
    /* Размер ячейки с учётом gap */
    --cell-size: calc(
      (var(--max-width) - (var(--gap) * (var(--cols) - 1))) / var(--cols)
    );
    display: grid;
    grid-template-columns: repeat(var(--cols), minmax(0, var(--cell-size)));
    grid-template-rows: repeat(var(--rows), minmax(0, var(--cell-size)));
    grid-auto-rows: minmax(0, var(--cell-size));
    justify-content: center;
    gap: var(--gap);
    @apply w-full;
  }

  .widget-wrapper {
    --column-start: 1; /* Первая колонка начинается с 1, а не 0 */
    --column-end: 3;
    --row-start: 1;
    --row-end: 2;
    /* Высчитываем span */
    --column-span: calc(var(--column-end) - var(--column-start) + 1);
    --row-span: calc(var(--row-end) - var(--row-start) + 1);
    grid-column: var(--column-start) / span var(--column-span);
    grid-row: var(--row-start) / span var(--row-span);
    @apply w-full h-full;
  }

  .clock-widget {
    @apply flex items-center justify-center;

    & > span {
      @apply text-5xl font-bold;
    }
  }
}

.light-mode-image {
  display: block;
}

.dark-mode-image {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .light-mode-image {
    display: none;
  }

  .dark-mode-image {
    display: block;
  }
}
