@import "tailwindcss";
@import "@yz13/ui/globals.css";
@import "@yz13/link/globals.css";

@import "./markdown.css";

html,
body {
  max-width: 100vw;
}

.imgDark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .imgLight {
    display: none;
  }

  .imgDark {
    display: unset;
  }
}

.dashed-line {
  flex: 1 1 0;
  min-height: 6px;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    transparent 4px,
    var(--color-border) 5px,
    var(--color-border) 6px
  );
  background-repeat: repeat-x;
  background-size: 6px 1px;
  background-position: 0 48%;
}

/* Базовая настройка анимации */
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.35s;
  animation-timing-function: ease;
}

::view-transition-old(image-preview),
::view-transition-new(image-preview) {
  animation-duration: 0.35s;
  animation-timing-function: ease;
}

/* Чтобы элементы не мигали */
::view-transition-group(*) {
  isolation: isolate;
}

.image-preview {
  isolation: isolate;
  view-transition-name: image-preview;
}
