@import "tailwindcss";
@import "mono/css/globals.css";

:root {
  --canvas-grid-cells: #ccc;
  --canvas-background: #f3f3f3;
}
@media (prefers-color-scheme: dark) {
  :root {
    --canvas-background: #000;
    --canvas-grid-cells: #1e1e1e;
  }
}

.root-page-grid {
  grid-auto-rows: 9rem;
  @apply grid md:!grid-cols-3 grid-cols-2 gap-3;
}
.grid-item {
  @apply overflow-hidden hover:bg-neutral-100 rounded-3xl border-2 transition-colors;
}
