@layer base, theme, components;
@import "tailwind-config/dist/theme.css" layer(theme);

@import "tailwindcss";

@import "tailwind-config/dist/globals.css" layer(base);
@import "mono/css/globals.css" layer(components);

@source "../app";
@source "../components";
@source "../../../packages/mono/dist";

.yz13-container {
    @apply max-w-screen-2xl w-full mx-auto;
}

.yz-future-panel {
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
}

.yz-future-padding-x {
    @apply px-[5%] md:px-[2.5%];
}

.yz-future-padding-y {
    @apply py-[5%] md:py-[2.5%];
}

.yz-future-container {
    @apply w-full max-w-dvw md:px-[2.5%] px-[5%];
}

.yz-future-container-no-padding {
    @apply w-full max-w-dvw;
}

.yz-future-container-max {
    @apply max-w-[1200px];
}


.locked {
    @apply overflow-hidden;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: transparent;
    display: none;
}

.no-scrollbar::-webkit-scrollbar-thumb {
    width: 0px;
    height: 0px;
    background-color: transparent;
    display: none;
}
