@import "./styles/vars.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  ::selection {
    @apply bg-foreground text-background;
  }
  ::-webkit-scrollbar-track {
    @apply w-4 bg-background;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-yz-neutral-200 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-yz-neutral-300;
  }
  ::-webkit-scrollbar {
    @apply w-3 bg-background;
  }
  body {
    @apply font-sans bg-background text-foreground;
  }
}

.light-mode-image {
  display: block;
}

.dark-mode-image {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .light-mode-image {
    display: none;
  }

  .dark-mode-image {
    display: block;
  }
}
