@layer base, theme, components;
@import "tailwind-config/dist/theme.css" layer(theme);

@import "tailwindcss";

@import "tailwind-config/dist/globals.css" layer(base);
@import "mono/css/globals.css" layer(components);

@source "../app";
@source "../components";
@source "../../../packages/mono/dist";

:root {
  --canvas-grid-cells: #ccc;
  --canvas-background: #f3f3f3;

  --pattern-fg: color-mix(in oklab, var(--color-black) 10%, transparent);
}
@media (prefers-color-scheme: dark) {
  :root {
    --canvas-background: #000;
    --canvas-grid-cells: #1e1e1e;

    --pattern-fg: color-mix(in oklab, var(--color-white) 10%, transparent);
  }
}

:root {
  --sidebar-width: 320px;
}

@media (min-width: 640px) {
  :root {
    --sidebar-width: 52px;
  }
}

@media (min-width: 768px) {
  :root {
    --sidebar-width: 280px;
  }
}

@media (min-width: 1024px) {
  :root {
    --sidebar-width: 280px;
  }
}

@media (min-width: 1280px) {
  :root {
    --sidebar-width: 280px;
  }
}

.background-transition-to-b {
  mask-image: linear-gradient(
    var(--mask-direction, to bottom),
    transparent,
    var(--color-background) 0%,
    var(--color-background) 80%,
    transparent
  );
}

.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  mask-image: linear-gradient(
    var(--mask-direction, to right),
    transparent,
    var(--color-background) 20%,
    var(--color-background) 80%,
    transparent
  );
}

.yz13-container {
  @apply max-w-screen-2xl w-full mx-auto;
}

.yz-future-container {
  @apply w-full max-w-dvw md:px-[2.5%] px-[5%];
}
.yz-future-container-max {
  @apply max-w-[90dvw];
}

.grid-template {
  grid-template-columns: 48px minmax(0, 1fr) 48px;
  display: grid;
}

@media (width < 64rem) {
  .grid-template {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
  }
}

.root-page-grid {
  grid-auto-rows: 9rem;
  @apply grid md:!grid-cols-3 grid-cols-2 gap-3;
}
.grid-item {
  @apply overflow-hidden hover:bg-neutral-100 rounded-3xl border-2 transition-colors;
}

.locked {
  @apply overflow-hidden;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: transparent;
  display: none;
}

.no-scrollbar::-webkit-scrollbar-thumb {
  width: 0px;
  height: 0px;
  background-color: transparent;
  display: none;
}

.terminal {
  --textarea-height: 20px;
  --prompt-height: 20px;
  --space-y: 4px;
  --padding: 1.5rem;
  --wrapper-space-y: 0.75rem;
  --input-padding: 0.75rem;
  --header-height: 2.25rem;
  padding-left: var(--padding);
  padding-right: var(--padding);
  padding-bottom: var(--padding);
  @apply w-full min-h-dvh h-fit;

  .terminal-header {
    height: var(--header-height);
    @apply w-full flex items-center justify-between;
  }

  .terninal-output {
    min-height: calc(
      100dvh - var(--wrapper-space-y) - var(--textarea-height) -
        var(--header-height) - var(--input-padding) * 2 - var(--prompt-height) -
        var(--space-y) - var(--padding)
    );
    @apply w-full space-y-2;
  }

  .terminal-input {
    background-color: var(--color-background);
    @apply sticky bottom-6 w-full mx-auto flex flex-col gap-1 rounded-xl p-3 border;
  }

  .terminal-prompt {
    height: var(--prompt-height);
    @apply flex items-center gap-2 *:font-mono;
  }

  .terminal-textarea {
    height: var(--textarea-height);
    @apply resize-none w-full bg-transparent overflow-hidden outline-none text-sm font-mono;
  }
}
