@import "./theme.css";

*,
::after,
::before,
::backdrop,
::file-selector-button {
  border-color: var(--color-neutral-200, currentColor);
}

::selection {
  background-color: var(--color-foreground);
  color: var(--color-background);
}
::-webkit-scrollbar-track {
  width: calc(var(--spacing) * 4);
  background-color: var(--color-background);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-neutral-200);
  border-radius: var(--radius-full);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-neutral-300);
}
::-webkit-scrollbar {
  width: calc(var(--spacing) * 3);
  background-color: var(--color-background);
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.pattern-lines {
  background-attachment: fixed;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    315deg,
    var(--pattern-fg) 0,
    var(--pattern-fg) 1px,
    transparent 0,
    transparent 50%
  );
}

.pattern-dots {
  background-attachment: fixed;
  background-size: 10px 10px;
  background-image: radial-gradient(var(--pattern-fg) 1px, transparent 0);
}

.light-mode-image {
  display: block;
}

.dark-mode-image {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .light-mode-image {
    display: none;
  }

  .dark-mode-image {
    display: block;
  }
}
