@import "./vars.css";

@theme {
    --*: initial;

    /* fonts */
    --font-sans: var(--font-yz-sans);
    --font-mono: var(--font-yz-mono);
    --font-pixel: var(--font-yz-pixel);

    /* colors */
    --color-background: var(--background);
    --color-background-secondary: var(--background-secondary);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-foreground: var(--foreground);
    --color-foreground-secondary: var(--foreground-secondary);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);

    /* border */
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    /* neutral */
    --color-neutral-50: var(--yz13-neutral-50);
    --color-neutral-100: var(--yz13-neutral-100);
    --color-neutral-200: var(--yz13-neutral-200);
    --color-neutral-300: var(--yz13-neutral-300);
    --color-neutral-400: var(--yz13-neutral-400);
    --color-neutral-500: var(--yz13-neutral-500);
    --color-neutral-600: var(--yz13-neutral-600);
    --color-neutral-700: var(--yz13-neutral-700);
    --color-neutral-800: var(--yz13-neutral-800);
    --color-neutral-900: var(--yz13-neutral-900);

    /* green */
    --color-green-100: var(--yz13-success-100);
    --color-green-200: var(--yz13-success-200);
    --color-green-300: var(--yz13-success-300);
    --color-green-400: var(--yz13-success-400);
    --color-green-foreground: var(--success-foreground);
    --color-green-border: var(--success-border);
    --color-green-background: var(--success-background);

    /* red */
    --color-red-100: var(--yz13-error-100);
    --color-red-200: var(--yz13-error-200);
    --color-red-300: var(--yz13-error-300);
    --color-red-400: var(--yz13-error-400);
    --color-red-foreground: var(--yz13-error-foreground);
    --color-red-border: var(--yz13-error-border);
    --color-red-background: var(--yz13-error-background);

    /* yellow */
    --color-yellow-100: var(--yz13-warning-100);
    --color-yellow-200: var(--yz13-warning-200);
    --color-yellow-300: var(--yz13-warning-300);
    --color-yellow-400: var(--yz13-warning-400);
    --color-yellow-foreground: var(--yz13-warning-foreground);
    --color-yellow-border: var(--yz13-warning-border);
    --color-yellow-background: var(--yz13-warning-background);

    /* radius */
    --radius-xs: calc(var(--radius-base) * 0.25);
    --radius-sm: calc(var(--radius-base) * 0.5);
    --radius-md: calc(var(--radius-base) * 1);
    --radius-lg: calc(var(--radius-base) * 1.25);
    --radius-xl: calc(var(--radius-base) * 1.5);
    --radius-2xl: calc(var(--radius-base) * 1.75);
    --radius-3xl: calc(var(--radius-base) * 2);
    --radius-4xl: calc(var(--radius-base) * 2.25);

    /* shadcn */
    --chart-1: var(--chart-1);
    --chart-2: var(--chart-2);
    --chart-3: var(--chart-3);
    --chart-4: var(--chart-4);
    --chart-5: var(--chart-5);
    --chart-6: var(--foreground);

    /* sidebar */
    --color-sidebar-background: var(--background);
    --color-sidebar-foreground: var(--foreground);
    --color-sidebar-border: var(--border);
    --color-sidebar: var(--background);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--border);
    --color-sidebar-ring: var(--sidebar-ring);

    @keyframes accordion-down {
        from {
            height: 0;
        }

        to {
            height: var(--radix-accordion-content-height);
        }
    }

    @keyframes accordion-up {
        from {
            height: var(--radix-accordion-content-height);
        }

        to {
            height: 0;
        }
    }
}
