@import "./vars.css";

:root {
  --default-icon-color: var(--yz13-foreground);
  --icon-brand-color: var(--yz13-foreground);
  --header-height: 64px;
  --page-wrapper-height: calc(100dvh - var(--header-height));
  --contact-card-width: 280px;
  /* new */
  --yz13-foreground: hsl(0 0% 0%);
  --yz13-background: hsl(0 0% 100%);
  --yz13-selection: var(--yz13-foreground);
  --yz13-border: var(--yz13-neutral-300);

  /* accent */
  --yz13-accent: #456990;

  /* highlight */
  --yz13-alert: #ff0080;
  --yz13-purple: #f81ce5;
  --yz13-cyan: #79ffe1;
  --yz13-violet: #7928ca;

  --yz13-link-color: var(--yz13-success);
  --yz13-link-style: none;
  --yz13-secondary: var(--yz13-neutral-900);
  --yz13-code: var(--yz13-purple);
  --dropdown-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.02);
  --dropdown-triangle-stroke: #fff;
  --scroller-start: rgba(255, 255, 255, 1);
  --scroller-end: rgba(255, 255, 255, 0);
  --shadow-small: 0 5px 10px rgba(0, 0, 0, 0.12);
  --shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.12);
  --shadow-large: 0 30px 60px rgba(0, 0, 0, 0.12);
  --portal-opacity: 0.25;

  /* layout */
  --yz13-radius: 10px;
  --yz13-gap: 16pt;
  --yz13-gap-negative: -16pt;
  --yz13-gap-half: 8pt;
  --yz13-gap-half-negative: -8pt;
  --yz13-gap-quarter: 4pt;
  --yz13-gap-quarter-negative: -4pt;

  /* yz13-neutral */
  --yz13-neutral-50: hsl(0 0% 100%);
  /* #fff */
  --yz13-neutral-100: hsl(0 0% 97%);
  /* #F8F8F8 */
  --yz13-neutral-200: hsl(0 0% 92%);
  /* #EAEAEA */
  --yz13-neutral-300: hsl(0 0% 86%);
  /* #DCDCDC */
  --yz13-neutral-400: hsl(0 0% 80%);
  /* #CDCDCD */
  --yz13-neutral-500: hsl(0 0% 75%);
  /* #BFBFBF */
  --yz13-neutral-600: hsl(0 0% 69%);
  /* #B1B1B1 */
  --yz13-neutral-700: hsl(0 0% 64%);
  /* #A3A3A3 */
  --yz13-neutral-800: hsl(0 0% 58%);
  /* #959595 */
  --yz13-neutral-900: hsl(0 0% 53%);
  /* #878787 */

  /* yz13-success // v2 */

  --yz13-success-accent: hsl(158 60% 48%);
  /*#31c48d*/
  --yz13-success-foreground: var(--yz13-success-400);
  --yz13-success-border: var(--yz13-success-200);
  --yz13-success-background: var(--yz13-success-100);

  /* //light */
  --yz13-success-100: hsl(157 56% 92%);
  /*#dff6ed*/
  --yz13-success-200: hsl(157 56% 81%);
  /*#b5ead6*/
  --yz13-success-300: hsl(157 56% 69%);
  /*#84dcbb*/
  --yz13-success-400: hsl(158 56% 58%);
  /*#5ad0a4*/

  /* yz13-error // v2 */

  --yz13-error-accent: hsl(349 100% 65%);
  /*#ff4d6d*/
  --yz13-error-foreground: var(--yz13-error-400);
  --yz13-error-border: var(--yz13-error-200);
  --yz13-error-background: var(--yz13-error-100);

  /* //light */
  --yz13-error-100: hsl(349 100% 95%);
  /*#ffe3e8*/
  --yz13-error-200: hsl(349 100% 87%);
  /*#ffbfca*/
  --yz13-error-300: hsl(349 100% 79%);
  /*#ff95a8*/
  --yz13-error-400: hsl(349 100% 72%);
  /*#ff718a*/

  /* yz13-warning // v2 */

  --yz13-warning-accent: hsl(43 100% 51%);
  /*#ffb703*/
  --yz13-warning-foreground: var(--yz13-warning-accent);
  --yz13-warning-border: var(--yz13-warning-200);
  --yz13-warning-background: var(--yz13-warning-100) / 0.7;

  /* //light */
  --yz13-warning-100: hsl(44 100% 92%);
  /*#fff4d7*/
  --yz13-warning-200: hsl(43 100% 82%);
  /*#ffe5a4*/
  --yz13-warning-300: hsl(43 100% 71%);
  /*#ffd469*/
  --yz13-warning-400: hsl(43 100% 60%);
  /*#ffc535*/

  /* chart */
  --chart-1: hsl(173 58% 39%);
  --chart-2: hsl(12 76% 61%);
  --chart-3: hsl(197 37% 24%);
  --chart-4: hsl(43 74% 66%);
  --chart-5: hsl(27 87% 67%);

  /* sidebar */
  --sidebar-background: var(--yz13-background);
  --sidebar-foreground: var(--yz13-foreground);
  --sidebar-primary: var(--yz13-background);
  --sidebar-primary-foreground: var(--yz13-foreground);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: var(--yz13-border);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
  :root {
    --default-icon-color: var(--yz13-foreground);
    --icon-brand-color: var(--yz13-foreground);
    /* new */
    --yz13-foreground: hsl(0 0% 100%);
    --yz13-background: hsl(0 0% 0%);
    --yz13-selection: hsl(var(--yz13-foreground));
    --yz13-border: var(--yz13-neutral-300);

    /* accent */
    --yz13-accent: #456990;

    /* highlight */
    --yz13-alert: #ff0080;
    --yz13-purple: #f81ce5;
    --yz13-cyan: #79ffe1;
    --yz13-violet: #7928ca;

    /* component expressiveness */
    --yz13-link-color: hsl(var(--yz13-foreground));
    --yz13-link-style: underline;
    --yz13-secondary: var(--yz13-neutral-900);
    --yz13-code: var(--yz13-cyan);
    --dropdown-box-shadow: 0 0 0 1px #333;
    --dropdown-triangle-stroke: #333;
    --scroller-start: rgba(0, 0, 0, 0.3);
    --scroller-end: rgba(255, 255, 255, 0);
    --shadow-small: 0 0 0 1px #333;
    --shadow-medium: 0 0 0 1px #333;
    --shadow-large: 0 0 0 1px #333;
    --portal-opacity: 0.75;

    /* yz13-neutral */
    --yz13-neutral-50: hsl(0 0% 0%);
    /* #000 */
    --yz13-neutral-100: hsl(0 0% 3%);
    /* #070707 */
    --yz13-neutral-200: hsl(0 0% 8%);
    /* #151515 */
    --yz13-neutral-300: hsl(0 0% 14%);
    /* #232323 */
    --yz13-neutral-400: hsl(0 0% 20%);
    /* #323232 */
    --yz13-neutral-500: hsl(0 0% 25%);
    /* #404040 */
    --yz13-neutral-600: hsl(0 0% 31%);
    /* #4E4E4E */
    --yz13-neutral-700: hsl(0 0% 36%);
    /* #5C5C5C */
    --yz13-neutral-800: hsl(0 0% 42%);
    /* #6A6A6A */
    --yz13-neutral-900: hsl(0 0% 47%);
    /* #787878 */

    /* yz13-success // v2 */
    --yz13-success-foreground: var(--yz13-success-accent);
    --yz13-success-border: var(--yz13-success-200);
    --yz13-success-background: var(--yz13-success-400);
    /* // dark */
    --yz13-success-100: hsl(158 60% 38%);
    /*#279D71*/
    --yz13-success-200: hsl(158 60% 29%);
    /*#1D7554*/
    --yz13-success-300: hsl(157 61% 23%);
    /*#175E43*/
    --yz13-success-400: hsl(157 60% 17%);
    /*#124733*/
    /* yz13-error // v2 */
    --yz13-error-foreground: var(--yz13-error-accent);
    --yz13-error-border: var(--yz13-error-200);
    --yz13-error-background: var(--yz13-error-400);
    /* // dark */
    --yz13-error-100: hsl(349 58% 52%);
    /*#CC3E57*/
    --yz13-error-200: hsl(349 54% 39%);
    /*#982E41*/
    --yz13-error-300: hsl(349 53% 31%);
    /*#7A2534*/
    --yz13-error-400: hsl(350 53% 24%);
    /*#5C1C27*/
    /* yz13-warning // v2 */
    --yz13-warning-foreground: var(--yz13-warning-accent);
    --yz13-warning-border: var(--yz13-warning-200);
    --yz13-warning-background: var(--yz13-warning-400);
    /* // dark */
    --yz13-warning-100: hsl(43 98% 40%);
    /*#CC9202*/
    --yz13-warning-200: hsl(43 97% 30%);
    /*#986D02*/
    --yz13-warning-300: hsl(43 98% 24%);
    /*#7A5801*/
    --yz13-warning-400: hsl(43 98% 18%);
    /*#5C4201*/

    /* chart */
    --chart-1: hsl(220 70% 50%);
    --chart-5: hsl(160 60% 45%);
    --chart-3: hsl(30 80% 55%);
    --chart-4: hsl(280 65% 60%);
    --chart-2: hsl(340 75% 55%);

    --sidebar-background: var(--yz13-background);
    --sidebar-foreground: var(--yz13-foreground);
    --sidebar-primary: var(--yz13-background);
    --sidebar-primary-foreground: var(--yz13-foreground);
    --sidebar-accent: hsl(240 3.7% 15.9%);
    --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
    --sidebar-border: var(--yz13-border);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --default-icon-color: var(--yz13-foreground);
    --icon-brand-color: var(--yz13-foreground);
    /* new */
    --yz13-foreground: hsl(0 0% 100%);
    --yz13-background: hsl(0 0% 0%);
    --yz13-selection: hsl(var(--yz13-foreground));
    --yz13-border: var(--yz13-neutral-300);

    /* accent */
    --yz13-accent: #456990;

    /* highlight */
    --yz13-alert: #ff0080;
    --yz13-purple: #f81ce5;
    --yz13-cyan: #79ffe1;
    --yz13-violet: #7928ca;

    /* component expressiveness */
    --yz13-link-color: hsl(var(--yz13-foreground));
    --yz13-link-style: underline;
    --yz13-secondary: var(--yz13-neutral-900);
    --yz13-code: var(--yz13-cyan);
    --dropdown-box-shadow: 0 0 0 1px #333;
    --dropdown-triangle-stroke: #333;
    --scroller-start: rgba(0, 0, 0, 0.3);
    --scroller-end: rgba(255, 255, 255, 0);
    --shadow-small: 0 0 0 1px #333;
    --shadow-medium: 0 0 0 1px #333;
    --shadow-large: 0 0 0 1px #333;
    --portal-opacity: 0.75;

    /* yz13-neutral */
    --yz13-neutral-50: hsl(0 0% 0%);
    /* #000 */
    --yz13-neutral-100: hsl(0 0% 3%);
    /* #070707 */
    --yz13-neutral-200: hsl(0 0% 8%);
    /* #151515 */
    --yz13-neutral-300: hsl(0 0% 14%);
    /* #232323 */
    --yz13-neutral-400: hsl(0 0% 20%);
    /* #323232 */
    --yz13-neutral-500: hsl(0 0% 25%);
    /* #404040 */
    --yz13-neutral-600: hsl(0 0% 31%);
    /* #4E4E4E */
    --yz13-neutral-700: hsl(0 0% 36%);
    /* #5C5C5C */
    --yz13-neutral-800: hsl(0 0% 42%);
    /* #6A6A6A */
    --yz13-neutral-900: hsl(0 0% 47%);
    /* #787878 */

    /* yz13-success // v2 */
    --yz13-success-foreground: var(--yz13-success-accent);
    --yz13-success-border: var(--yz13-success-200);
    --yz13-success-background: var(--yz13-success-400);
    /* // dark */
    --yz13-success-100: hsl(158 60% 38%);
    /*#279D71*/
    --yz13-success-200: hsl(158 60% 29%);
    /*#1D7554*/
    --yz13-success-300: hsl(157 61% 23%);
    /*#175E43*/
    --yz13-success-400: hsl(157 60% 17%);
    /*#124733*/
    /* yz13-error // v2 */
    --yz13-error-foreground: var(--yz13-error-accent);
    --yz13-error-border: var(--yz13-error-200);
    --yz13-error-background: var(--yz13-error-400);
    /* // dark */
    --yz13-error-100: hsl(349 58% 52%);
    /*#CC3E57*/
    --yz13-error-200: hsl(349 54% 39%);
    /*#982E41*/
    --yz13-error-300: hsl(349 53% 31%);
    /*#7A2534*/
    --yz13-error-400: hsl(350 53% 24%);
    /*#5C1C27*/
    /* yz13-warning // v2 */
    --yz13-warning-foreground: var(--yz13-warning-accent);
    --yz13-warning-border: var(--yz13-warning-200);
    --yz13-warning-background: var(--yz13-warning-400);
    /* // dark */
    --yz13-warning-100: hsl(43 98% 40%);
    /*#CC9202*/
    --yz13-warning-200: hsl(43 97% 30%);
    /*#986D02*/
    --yz13-warning-300: hsl(43 98% 24%);
    /*#7A5801*/
    --yz13-warning-400: hsl(43 98% 18%);
    /*#5C4201*/

    /* chart */
    --chart-1: hsl(220 70% 50%);
    --chart-5: hsl(160 60% 45%);
    --chart-3: hsl(30 80% 55%);
    --chart-4: hsl(280 65% 60%);
    --chart-2: hsl(340 75% 55%);

    --sidebar-background: var(--yz13-background);
    --sidebar-foreground: var(--yz13-foreground);
    --sidebar-primary: var(--yz13-background);
    --sidebar-primary-foreground: var(--yz13-foreground);
    --sidebar-accent: hsl(240 3.7% 15.9%);
    --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
    --sidebar-border: var(--yz13-border);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
  }
}
