:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.26 0 0);
  --card: oklch(0.99 0 0);
  --card-foreground: oklch(0.26 0 0);
  --popover: oklch(0.99 0 0);
  --popover-foreground: oklch(0.26 0 0);
  --primary: oklch(0.33 0 0);
  --primary-foreground: oklch(0.99 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.33 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.65 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.33 0 0);
  --destructive: oklch(0.62 0.21 25.77);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.94 0 0);
  --input: oklch(0.94 0 0);
  --ring: oklch(0.77 0 0);
  --chart-1: oklch(0.82 0.13 84.49);
  --chart-2: oklch(0.8 0.11 203.6);
  --chart-3: oklch(0.42 0.17 266.78);
  --chart-4: oklch(0.92 0.08 125.58);
  --chart-5: oklch(0.92 0.1 116.19);
  --sidebar: oklch(0.99 0 0);
  --sidebar-foreground: oklch(0.26 0 0);
  --sidebar-primary: oklch(0.33 0 0);
  --sidebar-primary-foreground: oklch(0.99 0 0);
  --sidebar-accent: oklch(0.98 0 0);
  --sidebar-accent-foreground: oklch(0.33 0 0);
  --sidebar-border: oklch(0.94 0 0);
  --sidebar-ring: oklch(0.77 0 0);
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --radius: 1.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}
.dakr {
  :root {
    --background: oklch(0 0 0);
    --foreground: oklch(0.98 0 0);
    --card: oklch(0.14 0 285.82);
    --card-foreground: oklch(0.98 0 0);
    --popover: oklch(0.14 0 285.82);
    --popover-foreground: oklch(0.98 0 0);
    --primary: oklch(0.98 0 0);
    --primary-foreground: oklch(0.21 0.01 285.88);
    --secondary: oklch(0.27 0.01 286.03);
    --secondary-foreground: oklch(0.98 0 0);
    --muted: oklch(0.27 0.01 286.03);
    --muted-foreground: oklch(0.71 0.01 286.07);
    --accent: oklch(0.27 0.01 286.03);
    --accent-foreground: oklch(0.98 0 0);
    --destructive: oklch(0.4 0.13 25.72);
    --destructive-foreground: oklch(0.97 0.01 17.38);
    --border: oklch(0.27 0.01 286.03);
    --input: oklch(0.27 0.01 286.03);
    --ring: oklch(0.87 0.01 286.29);
    --chart-1: oklch(0.53 0.19 262.13);
    --chart-2: oklch(0.7 0.13 165.46);
    --chart-3: oklch(0.72 0.15 60.63);
    --chart-4: oklch(0.62 0.2 312.73);
    --chart-5: oklch(0.61 0.21 6.39);
    --sidebar: oklch(0.21 0.01 285.88);
    --sidebar-foreground: oklch(0.97 0 286.38);
    --sidebar-primary: oklch(0.49 0.22 264.39);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.27 0.01 286.03);
    --sidebar-accent-foreground: oklch(0.97 0 286.38);
    --sidebar-border: oklch(0.27 0.01 286.03);
    --sidebar-ring: oklch(0.87 0.01 286.29);
    --font-sans:
      ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono:
      ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0 0 0);
    --foreground: oklch(0.98 0 0);
    --card: oklch(0.14 0 285.82);
    --card-foreground: oklch(0.98 0 0);
    --popover: oklch(0.14 0 285.82);
    --popover-foreground: oklch(0.98 0 0);
    --primary: oklch(0.98 0 0);
    --primary-foreground: oklch(0.21 0.01 285.88);
    --secondary: oklch(0.27 0.01 286.03);
    --secondary-foreground: oklch(0.98 0 0);
    --muted: oklch(0.27 0.01 286.03);
    --muted-foreground: oklch(0.71 0.01 286.07);
    --accent: oklch(0.27 0.01 286.03);
    --accent-foreground: oklch(0.98 0 0);
    --destructive: oklch(0.4 0.13 25.72);
    --destructive-foreground: oklch(0.97 0.01 17.38);
    --border: oklch(0.27 0.01 286.03);
    --input: oklch(0.27 0.01 286.03);
    --ring: oklch(0.87 0.01 286.29);
    --chart-1: oklch(0.53 0.19 262.13);
    --chart-2: oklch(0.7 0.13 165.46);
    --chart-3: oklch(0.72 0.15 60.63);
    --chart-4: oklch(0.62 0.2 312.73);
    --chart-5: oklch(0.61 0.21 6.39);
    --sidebar: oklch(0.21 0.01 285.88);
    --sidebar-foreground: oklch(0.97 0 286.38);
    --sidebar-primary: oklch(0.49 0.22 264.39);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.27 0.01 286.03);
    --sidebar-accent-foreground: oklch(0.97 0 286.38);
    --sidebar-border: oklch(0.27 0.01 286.03);
    --sidebar-ring: oklch(0.87 0.01 286.29);
    --font-sans:
      ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono:
      ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl:
      0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }
}
