@import "tailwindcss";

@import "@yz13/ui/globals.css";

@source "../node_modules/@yz13/ui";


.dashed-line {
  flex: 1 1 0;
  min-height: 6px;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, transparent 4px, var(--color-border) 5px, var(--color-border) 6px);
  background-repeat: repeat-x;
  background-size: 6px 1px;
  background-position: 0 48%;
}
