.active-icon-wrapper {
  & > svg > g > g > * {
    fill: hsl(var(--icon-brand-color));
  }
  & > svg > g > * {
    fill: hsl(var(--icon-brand-color));
  }
  @apply opacity-100;
}
.icon-wrapper {
  & > g > g > * {
    fill: hsl(var(--icon-brand-color));
  }
  & > g > * {
    fill: hsl(var(--icon-brand-color));
  }
  @apply opacity-50 hover:opacity-100 group-hover:opacity-100;
}
.icon-wrapper:hover {
  & > svg > g > g > * {
    fill: hsl(var(--icon-brand-color));
  }
  & > svg > g > * {
    fill: hsl(var(--icon-brand-color));
  }
  @apply opacity-50 hover:opacity-100 group-hover:opacity-100;
}
.svg-icon {
  fill: hsl(var(--icon-brand-color));
  & > g > g > * {
    fill: hsl(var(--icon-brand-color));
  }
  & > g > * {
    fill: hsl(var(--icon-brand-color));
  }
}
@media (prefers-color-scheme: dark) {
  .active-icon-wrapper {
    & > svg > g > g > * {
      fill: hsl(var(--icon-brand-color));
    }
    & > svg > g > * {
      fill: hsl(var(--icon-brand-color));
    }
    @apply opacity-100;
  }
  .icon-wrapper {
    & > g > g > * {
      fill: hsl(var(--icon-brand-color));
    }
    & > g > * {
      fill: hsl(var(--icon-brand-color));
    }
    @apply opacity-50 hover:opacity-100 group-hover:opacity-100;
  }
  .icon-wrapper:hover {
    & > svg > g > g > * {
      fill: hsl(var(--icon-brand-color));
    }
    & > svg > g > * {
      fill: hsl(var(--icon-brand-color));
    }
    @apply opacity-50 hover:opacity-100 group-hover:opacity-100;
  }
  .svg-icon {
    fill: hsl(var(--icon-brand-color));
    & > g > g > * {
      fill: hsl(var(--icon-brand-color));
    }
    & > g > * {
      fill: hsl(var(--icon-brand-color));
    }
    @apply opacity-100;
  }
}
