@layer base, theme, components;
@import "tailwind-config/dist/theme.css" layer(theme);

@import "tailwindcss";

@import "tailwind-config/dist/globals.css" layer(base);
@import "mono/css/globals.css" layer(components);

@source "../app";
@source "../components";
@source "../../../packages/mono/dist";

.grid-template {
  grid-template-columns: 48px minmax(0, 1fr) 48px;
  display: grid;
}
