@import "tailwindcss";
@import "@yz13/ui/globals.css";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.imgDark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .imgLight {
    display: none;
  }

  .imgDark {
    display: unset;
  }
}

.dashed-line {
  flex: 1 1 0;
  min-height: 6px;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, transparent 4px, var(--color-border) 5px, var(--color-border) 6px);
  background-repeat: repeat-x;
  background-size: 6px 1px;
  background-position: 0 48%;
}

.markdown {

  &>* {
    @apply text-muted-foreground;
  }

  *:first-child {
    @apply mt-0;
  }

  * {
    @apply mb-2;
  }

  h1 {
    @apply text-4xl font-semibold text-foreground my-4;
  }

  h2 {
    @apply text-3xl font-semibold text-foreground my-3;
  }

  h3 {
    @apply text-2xl font-semibold text-foreground my-2.5;
  }

  h4 {
    @apply text-xl font-semibold text-foreground my-2.5;
  }

  h5 {
    @apply text-lg font-semibold text-foreground my-2;
  }

  h6 {
    @apply text-base font-semibold text-foreground my-1.5;
  }

  p {
    @apply text-sm text-muted-foreground;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  li {
    @apply ml-4 text-sm text-muted-foreground;
  }

  blockquote {
    @apply border-l-4 bg-card pl-4 text-muted-foreground;
  }

  pre {
    @apply bg-card text-muted-foreground;
  }

  code {
    @apply bg-muted text-muted-foreground;
  }

  a {
    @apply text-muted-foreground;
  }

  a:hover {
    @apply underline text-foreground;
  }
}
