services:
  minio:
    image: minio/minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER:-minioadmin}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD:-minioadmin}
      MINIO_REGION: ${STORAGE_S3_REGION}
    command: server --console-address ":9001" /data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 2s
      timeout: 10s
      retries: 5
    volumes:
      - ./volumes/storage:/data:z

  minio-createbucket:
    image: minio/mc
    depends_on:
      minio:
        condition: service_healthy
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc alias set local http://minio:9000 ${MINIO_ROOT_USER:-minioadmin} ${MINIO_ROOT_PASSWORD:-minioadmin};
      /usr/bin/mc mb local/${STORAGE_S3_BUCKET} || true;
      exit 0;
      "

  rclone-sync:
    image: rclone/rclone
    depends_on:
      - minio-createbucket
    environment:
      # Конфигурация MinIO (source)
      RCLONE_CONFIG_MYMINIO_TYPE: s3
      RCLONE_CONFIG_MYMINIO_PROVIDER: MinIO
      RCLONE_CONFIG_MYMINIO_ACCESS_KEY_ID: ${MINIO_ROOT_USER:-minioadmin}
      RCLONE_CONFIG_MYMINIO_SECRET_ACCESS_KEY: ${MINIO_ROOT_PASSWORD:-minioadmin}
      RCLONE_CONFIG_MYMINIO_ENDPOINT: http://minio:9000
      RCLONE_CONFIG_MYMINIO_REGION: ${STORAGE_S3_REGION}

      # Конфигурация Yandex Cloud (destination)
      RCLONE_CONFIG_YC_TYPE: s3
      RCLONE_CONFIG_YC_PROVIDER: Other
      RCLONE_CONFIG_YC_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      RCLONE_CONFIG_YC_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      RCLONE_CONFIG_YC_ENDPOINT: https://storage.yandexcloud.net
      RCLONE_CONFIG_YC_REGION: ${STORAGE_S3_REGION}
    restart: unless-stopped # Автоматический перезапуск
    entrypoint: >
      /bin/sh -c "
      while true; do
        echo 'Starting sync at $$(date)'
        rclone sync \
          --progress \
          --s3-upload-concurrency=8 \
          --transfers=4 \
          myminio:${STORAGE_S3_BUCKET} \
          yc:${STORAGE_S3_BUCKET}
        echo 'Sync completed, waiting 10 minutes...'
        sleep 600
      done
      "
  storage:
    container_name: supabase-storage
    image: supabase/storage-api:v1.28.2
    restart: unless-stopped
    volumes:
      - ./volumes/storage:/var/lib/storage:z
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://storage:5000/status",
        ]
      timeout: 5s
      interval: 5s
      retries: 3
    depends_on:
      db:
        # Disable this if you are using an external Postgres database
        condition: service_healthy
      rest:
        condition: service_started
      imgproxy:
        condition: service_started
      minio:
        condition: service_healthy
    environment:
      ANON_KEY: ${ANON_KEY}
      SERVICE_KEY: ${SERVICE_ROLE_KEY}
      POSTGREST_URL: http://rest:3000
      PGRST_JWT_SECRET: ${JWT_SECRET}
      DATABASE_URL: postgres://supabase_storage_admin:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
      FILE_SIZE_LIMIT: 52428800
      STORAGE_BACKEND: s3
      GLOBAL_S3_BUCKET: ${STORAGE_S3_BUCKET}
      GLOBAL_S3_ENDPOINT: http://minio:9000
      GLOBAL_S3_PROTOCOL: ${STORAGE_S3_PROTOCOL}
      GLOBAL_S3_FORCE_PATH_STYLE: true
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_DEFAULT_REGION: ${STORAGE_S3_REGION}
      FILE_STORAGE_BACKEND_PATH: /var/lib/storage
      TENANT_ID: yz13
      # TODO: https://github.com/supabase/storage-api/issues/55
      REGION: ${STORAGE_S3_REGION}
      ENABLE_IMAGE_TRANSFORMATION: "true"
      IMGPROXY_URL: http://imgproxy:5001

  imgproxy:
    container_name: supabase-imgproxy
    image: darthsim/imgproxy:v3.8.0
    restart: unless-stopped
    volumes:
      - ./volumes/storage:/var/lib/storage:z
    healthcheck:
      test: ["CMD", "imgproxy", "health"]
      timeout: 5s
      interval: 5s
      retries: 3
    environment:
      IMGPROXY_BIND: ":5001"
      IMGPROXY_LOCAL_FILESYSTEM_ROOT: /
      IMGPROXY_USE_ETAG: "true"
      IMGPROXY_ENABLE_WEBP_DETECTION: ${IMGPROXY_ENABLE_WEBP_DETECTION}
