services:
  storage:
    container_name: supabase-storage
    image: supabase/storage-api:v1.28.2
    restart: unless-stopped
    volumes:
      - ./volumes/storage:/var/lib/storage:z
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://storage:5000/status",
        ]
      timeout: 5s
      interval: 5s
      retries: 3
    depends_on:
      db:
        condition: service_healthy
      rest:
        condition: service_started
      imgproxy:
        condition: service_started
    environment:
      ANON_KEY: ${ANON_KEY}
      SERVICE_KEY: ${SERVICE_ROLE_KEY}
      POSTGREST_URL: http://rest:3000
      PGRST_JWT_SECRET: ${JWT_SECRET}
      DATABASE_URL: postgres://supabase_storage_admin:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
      FILE_SIZE_LIMIT: 52428800
      STORAGE_BACKEND: s3
      GLOBAL_S3_BUCKET: ${STORAGE_S3_BUCKET}
      GLOBAL_S3_ENDPOINT: ${STORAGE_S3_ENDPOINT} # https://storage.yandexcloud.net
      GLOBAL_S3_PROTOCOL: ${STORAGE_S3_PROTOCOL} # https
      GLOBAL_S3_FORCE_PATH_STYLE: ${STORAGE_S3_FORCE_PATH_STYLE} # false
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_DEFAULT_REGION: ${STORAGE_S3_REGION} # ru-central1
      FILE_STORAGE_BACKEND_PATH: /var/lib/storage
      TENANT_ID: yz13
      REGION: ${STORAGE_S3_REGION}
      ENABLE_IMAGE_TRANSFORMATION: "true"
      IMGPROXY_URL: http://imgproxy:5001

  imgproxy:
    container_name: supabase-imgproxy
    image: darthsim/imgproxy:v3.8.0
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "imgproxy", "health"]
      timeout: 5s
      interval: 5s
      retries: 3
    environment:
      IMGPROXY_BIND: ":5001"
      IMGPROXY_USE_ETAG: "true"
      IMGPROXY_ENABLE_WEBP_DETECTION: ${IMGPROXY_ENABLE_WEBP_DETECTION}
      # Настройки для работы с Yandex Cloud Storage
      IMGPROXY_USE_S3: "true"
      IMGPROXY_S3_REGION: ${STORAGE_S3_REGION}
      IMGPROXY_S3_ENDPOINT: ${STORAGE_S3_ENDPOINT}
      IMGPROXY_S3_FORCE_PATH_STYLE: "false"
