@tailwind components;

@layer components {
  .root-page-grid {
    grid-auto-rows: 9rem;
    @apply grid md:!grid-cols-3 grid-cols-2 gap-3;
  }
  .grid-item {
    @apply overflow-hidden hover:bg-background-back rounded-3xl border transition-colors;
  }
}
