@layer base, theme, components;
@import "tailwind-config/dist/theme.css" layer(theme);

@import "tailwindcss";

@import "tailwind-config/dist/globals.css" layer(base);
@import "@yz13/ui/css/globals.css" layer(components);

@source "../app";
@source "../components";
@source "../../../packages/ui/dist";

.calendar-container {
    @apply w-full max-w-screen-2xl mx-auto;
}
